:root{
    --white:#ffffff;
    --blue:#2e55ba;
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --gray:#f4f1f1;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.due-date{
    color:white;
    background: #FF5959 76%;
    padding:7px 3px;
    border: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    font-size: 1vw;
}

.book-info{
    width: 100%;
    margin-left: 25px;
    font-family: Inter;
    color: #00278C;
}

.book-info p{
    font-size: 1vw;
}

.book-info_h1{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 2vw;
}


.book-info_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 10vw;
    color:white;
    text-decoration: none;
    background: #FF5959;
    border: none;
    padding:0.8vw 0.4vw;
    border-radius: 2vw;
    font-size: 1vw;
}

.rating{
    margin-top:20px ;
    display: flex;
    gap: 6px;
    align-items: center;
    color: #C4C4C4;
}
.stars{
    display: flex;
    gap: 6px;
}

.checked{
    color:#FFBE33;
}

.book-info_cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    width: 12vw;
    color:white;
    text-decoration: none;
    background: #afafaf;
    border: none;
    padding:0.8vw 0.4vw;
    border-radius: 2vw;
    font-size: 1vw;
}

.form { 
    width: 90%;
    position: relative;
    margin: 20px;
    padding: 30px;
    box-sizing: border-box;
    background: var(--grey-new);
    border-radius: 7px;
}

.batchbut1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 20px;
}


.modbut-cel, .modbut-del {
    font-size: 14px;
    padding: 0.5vw 1.2vw;
    border-radius: 0.6vw;
    cursor: pointer;
    transition: all .3s ease;
}

.modbut-cel {
    background-color: var(--blue2-light);
    color: var(--white-light);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.modbut-cel:hover {
    background-color: var(--white-light);
    color: var(--blue2-light);
    transform: translateY(-0.3vw);
    text-decoration: none;
}

.modbut-del {
    background-color: var(--red-light);
    color: var(--white-light);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.modbut-del:hover {
    background-color: var(--white-light);
    color: var(--red-light);
    transform: translateY(-0.3vw);
    text-decoration: none;
    border-color: var(--white-light);
}