:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:#00278C;
    padding: 10px;
    background-color: white;
    margin: 10px 0;
    border-radius: 1.5vw;
    width: 97%;
    /* border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw; */
}

.sinopsis{
    text-align: left;
    padding: 10px;
}

.sinopsis span{
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 3vw;
}

.rating{
    display: flex;
    gap: 6px;
    align-items: center;
    color: #C4C4C4;
    margin: 10px;
}

.checked{
    color:#FFBE33;
}

.book-info_h1{
    margin: 0;
    line-height: 3vw;
    margin-top: 2vw;
}

.sinopsis p{
    height: 14.2vw;
    overflow-y: scroll;
}

.box h1, .box h2{
    font-size: 2vw;
}

.book-info span, .sinopsis p{
    font-size: 1vw;
} 