:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --beige2-light:#fedaa7;
    --lbeige:#FAEEE0;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.other{
    font-family: 'Inter';
    color:var(--accentblack-light);
    width: 97%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    
}

.other ul{
    padding:0;
    list-style-type: none;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.other li{
    width: 150px;
}
 .other img{
    width: 95%;
    height: 210px;
}

.other .book-detail{
    
    display: flex;
    flex-direction: column;
 }

 .other h1{
    margin-left: 10px;
    font-size: 25px;
 }
 
 .book-detail h2{
     font-size: 15px;
     color: var(--accentblack-light);
     line-height: 1.7vw;
     margin:3px 0;
 }
 
 .book-detail span{
     color: #686B6F;
     font-size: 10px;
 }

 