:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    background-color: var(--white-light);
    border-radius: 1.5vw;
    width: 97%;
}

.qrtext{
    color: var(--blue-light);
    margin-top: 1vw;
    cursor: pointer;
    transition: all .3s ease;
}

.qrtext:hover{
    transform: translateY(-0.3vw);
    color: var(--red-light);
}

.qrtext span{
    font-weight: 600;
    font-size: 1.2vw;
}