:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;
    --green:#4ef441;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --blue2-light:#3f87de;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-light: #7ffe73;
    --grey-new: #F7f7f7;


    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-dark:#42cf35;

}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}


.scanOverlay{
    top: 55px;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    border: 50px solid transparent;
    position: absolute;
    width: 100%;
    height: 80%;
}

.qrscan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttz{
    font-size: 1.2vw;
    background-color: var(--red-light);
    border-radius: 0.4vw;
    color: var(--white-light);
    padding: 0.5vw;
}