:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;
    --green:#4ef441;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --blue2-light:#3f87de;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-light: #7ffe73;
    --grey-new: #F7f7f7;


    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-dark:#42cf35;

}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}


.allcon{
    background-color: #f6f0e6 ;
    height: 100%;
    width: 100%;
}

.uptop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw; 
}

.data-row{
    font-size: 14px;
}

.judul1{
    font-weight: 600;
    font-size: 2vw;
}

.buttoncreate{
    display: flex;
    color: var(--white-light);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 35px;
    font-size: 1.2vw;
    background-color: var(--blue2-light);
    border-radius: 1vw;
    height: 100%;
    padding: 0.8vw 1vw;
    transition: all .3s ease;
}


.buttoncreate:hover{
    color: var(--white-light);
    text-decoration: none;
    transform: translateY(-0.3vw);
}