:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;
    --green:#4ef441;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --blue2-light:#3f87de;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-light: #7ffe73;
    --grey-new: #F7f7f7;


    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-dark:#42cf35;

}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}


.content{
    background-color: #f6f0e6;
    padding-top: 3vw;
    height: 100%;
    width: 100%;
}

.insides{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.headtitle{
    display: flex;
    background-color: var(--white-light);
    padding: 2vw;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    padding-left: 5vw;
    flex-direction: column;
    text-align: left;
}

.headtitle h1{
    font-weight: 600;
    font-size: 2vw;
    line-height: 3vw;
}

.txtz{
    padding: 1vw;
    margin-bottom: 1vw;
}

.butbatch{
    display: flex;
    justify-content: space-between;
}

.buttonsb{
    display: flex;
    gap: 1vw;
}

.buttz{
    color: var(--accentblack-light);
    width: 100%;
    height: 4vh;
    border-radius: 2px;
    margin-top: 20px;
    background-color: var(--addgray);
    border-radius: 5px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    transition: all .5s ease;
}

.buttz:hover {
    background-color: var(--white-light);
    color: var(--beige);
    transform: translateY(-0.3vw);  
    text-decoration: none;
}

.list-books{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2vw;

}