.book_info h2{
    color: #00278C;
    font-size: 50px;
}

.card {
    display: block;
    flex-direction: column;
    margin-left: 5px;
    flex-flow: row wrap;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-right: 3px;
    gap: 20px;
}

.content {
    display: flex;
    margin-top: 20px;
    gap: 25px;
    background: "#F1F1F1";
    width: 100%;
    
}

td{
    color: #686B6F;
}

.cover {
 
    padding: 12px 25px;
    height: max-content;
    border-radius: 10px;
  
}

.summary {
    font-family: Inter;
    padding: 50px 25px 25px 0;
    height: fit-content;
    /* border-top: solid gray 2px; */
/*         background-color: #f7f7f7; */
 /*    border-radius: 10px; */
    /* margin: 10px 0 0 0; */
    font-size: 20px;
   
}

.cover img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
    max-width: 250%;
    /* width: fit-content; */
}

.book_info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    float: left;
    margin-left: 20px;
    flex: 1 1 30%;
    min-height: max-content;
    padding:75px 100px ;
   
    

    /* border-left: solid gray 2px; */
}

.book_info table {
    height: 50%;
    width: 50%;

}

/* .hero{
    float: right;
    display: block;
    height: auto;
} */

/* .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250%;
} */

@media screen and (min-width: 600px)

/* I picked 600px arbitrarily */
    {
    .cover {
        width: 20em;
        /* I picked 14em arbitrarily */
    }

    .book_info {
        width: calc(100% - 14em);
    }
}

.summary {
    flex: 1 1 100%;

}

.summary h3 {
    font-size: 50px;
}

.button-back{
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 25px;
    background-color: rgba(56, 56, 193,0.2);
    color: black;
}

.button-borrow{
    padding: 7px;
    border-radius: 7px;
    margin-top: 25px;
    background-color: #FF5959;
    color: white;
}