:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}



.all{
   background-color: var(--white);
}

.main{
    background-color: var(--white);
    margin: auto;
    width: 97%;
    border-radius: 2.2vw;
    background-image: url(../../public/assets/filda.jpg);
    background-size: cover;
    background-position: 8em;
    display: flex;
    padding: 4.44vw;
    height: 100%;
    align-items: center;
}

.main-button{
    background: var(--white);
    color: var(--accentblack);
    border: none;
    border-radius: 2.2vw;
    padding:0.8vw 2.2vw;
    font-size: 1.3vw;
    font-weight: 600;
    transition:  all .3s ease; 
}

.main-button:hover{
    transform:  translateY(-0.3vw);
}

.main-button:active{
    transform:  scale(.99);
}


.overflow-hidden {
    overflow: hidden;
}
   
.drop-in {
    animation: drop-in 1.5s ease 200ms backwards;
}
   
.drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
}

.main-button {
    animation: drop-in 1200ms ease 700ms backwards;
}
   
.quote {
    animation: drop-in 1.5s ease 500ms backwards;
}

 @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}

.quote{
    display: flex;
    font-size: 1.11vw;
    flex-direction: column;
    padding-bottom: 8px;
    margin-bottom: 2vw;
}

.main-left{
    font-size: 1.11vw;
    width: 50vw;
    height: 34vw;
    color: var(--white);
    padding-top: 4vw;
}

.extrain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
}

.qrcontent{
    height: 100%;
    width: 100%;
    padding-top: 6vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: var(--gray);
    
}

.qrtcontent{
    display: flex;
    width: 80vw;
    height: 20vw;
    background-size: cover;
    background-blend-mode: color-burn;
    background-position-x:-2vw;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2.2vw;
    margin: auto;
    margin-top: 15vh;
}

.complimentary{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20vw;
    margin: auto;
}

.qrinfo{
    display: flex;
    color: var(--accentblack);
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
    text-align: left;
    background-color: transparent;
    height: 90%;
    width: 25vw;
    border-radius: 2.2vw;
    transition:  all .5s ease; 
}

.qrinfo:hover{
    transform:  translateY(-0.3vw);
    background-color: var(--white);
    color: var(--red);
    box-shadow: rgba(5, 0, 0, 0.168) 1.95px 1.95px 2.6px;
}


.line{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 23.5vw;
    width: 0.1vw;
    height: 10%;
    background: var(--accentblack);
    box-shadow: 0px 0px 30px 2px rgb(255, 255, 255);
    transition:  all 1s ease; 
}

.qrinfo2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: auto;
}

.qrpart1{
    display: flex;
    color: var(--accentblack);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    height: 90%;
    width: 15vw;
    border-radius: 2.2vw;
    transition:  all .5s ease; 
    cursor: pointer;
}

.qrpart1:hover{
    transform:  translateY(-0.3vw);
    background-color: var(--white);
    color: var(--red);
    box-shadow: rgba(5, 0, 0, 0.168) 1.95px 1.95px 2.6px;
}

.qrh1{
    font-size: 2.2vw;
    font-weight: 600;
}

.studentimg{
    width: 7.5vw;
    margin-bottom: 1vw;
}

.span1{
    font-size: 2vw;
    font-weight: 600;
}

.pengumuman{
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 80vw;
    height: 100%;
    margin: auto;
    margin-top: 4vw;
    background-color: none;
    margin-bottom: 3vw;
}

/* .vids{
    width: 51%;
    height: 50vh;
    background-image: url(../../public/assets/photos/photo11.jpeg);
    background-size: cover;
    border-radius: 2.2vw;
} */

.faq {
    width: 80vw;
    margin: auto;
    padding-bottom: 2vw;
    margin-top: 2vw;
    height: 100%;
    transition: all .5 ease;
}


.faq-item {
    margin-bottom: 5px;
    text-align: left;
    padding-left: 0.5vw;
    line-height: 1.8;
    background-color: var(--white-light);
    border-radius: 1.5vw;
    transition:  all .5 ease; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.faq-title {
    display: block;
    width: 90vw;
    padding: 1vw;
    position: relative;
    color: var(--red-light);
    font-weight: 700;
    font-size: 1.2vw;
    cursor: pointer;
    border-radius: 1.5vw;
    transition:  all .5s ease; 
}

.faq-title:after {
    content: "";
    display: block;
    position: absolute;
    transition:  all .5s ease; 
}

.faq-title:hover {
    background-color: var(--white-light);
    color: var(--red-light);
    border-radius: 1.5vw;
}

.faq-input {
    width: 0;
    height: 0;
    position: absolute;
    transition: display 0.5s ease;
}

.faq-input:checked ~ .faq-text {
    display: block;
}

.faq-text {
    display: none;
    background-color: var(--white-light);
    text-align: left;
    width: 100%;
    font-size: 1.11vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
    border-bottom-right-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    padding: 0 1.11vw;
    padding-bottom: 1vw;
    color: var(--accentblack-light);
    transition: display 0.5s ease;
}

.faq-text span{
    display: block;
}

.faq-text hr{
    margin-top: 0 !important;
    height: 1px; 
}

.faq-down{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.faq-down span{
    display: flex;
    margin-right: 1vw;
    color: var(--red-light);
    font-size: 1.8vw;
    width: 5vw;
    align-items: center;
    justify-content: center;
}

/* 
.dropdown{
    width: 49%;
    height: 50vh;
    background-color: #2E55BA;
    border-radius: 2.2vw;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

.dropprimary{
   
}

.dropprimary ul li {
    display: inline-block;
    margin: 0;
    position: relative;
}

.dropprimary li:active ul{
    display: block;
}

.dropsub{
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 35%;
    display:none;
}

.dropsub li{
    float: none;
    margin: 0;
}

.dropdown a{
    text-decoration: none;
    color: var(--accentblack-light);
    display: block;
}

.dropdown ul{
    list-style: none;
    text-align: left;
}

.dropdown li{
    float: left;
} */


.visimisi{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
    line-height: 3.5vw;
    margin-bottom: 3vw;
}

.quotevm{
    display: flex;
    font-size: 1.11vw;
    flex-direction: column;
    padding-bottom: 8px;
    margin-bottom: 2vw;
    text-align: center;
    width: 50vw;
}

.main-button2{
    background: var(--red);
    color:var(--white);
    border: none;
    border-radius: 2.2vw;
    padding:0.8vw 2.2vw;
    font-size: 1.3vw;
    font-weight: 600;
    transition:  all .3s ease; 
}

.main-button3{
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:var(--red);
    border: none;
    border-radius: 2.2vw;
    padding:0.8vw 2.2vw;
    font-size: 1.3vw;
    font-weight: 600;
    transition:  all .3s ease; 
}

.main-button3:hover{
    background-color: var(--red);
    color: var(--white);
}

.main-button2:hover{
    transform:  translateY(-0.3vw);
}

.main-button2:active{
    transform:  scale(.99);
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.anotherbutton{
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all .3s ease; 
}

.anotherbutton:hover{
    transform:  translateY(-0.3vw);
}

.anotherbutton:active{
    transform:  scale(.99);
}

.ttgkami{
    font-size: 1.3vw;
    align-items: center;
    padding-left: 1vw;
    font-weight: 700;
    margin: auto;
}


.midcontent{
    display: grid;
    margin: auto;
    height: 40vw;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    margin-top: 2vw;
    gap: 3vw;
}


.ml-content{
    background-image: url(../../public/assets/photos/photo52.jpeg);
    background-size: cover;
    width: 18vw;
    border: none;
    background-color: var(--accentblack);
    border-radius: 2.2vw;
    height: 25vw;
    transition:  all .3s ease; 
}

.mf-content{
    background-image: url(../../public/assets/photos/photo8.jpeg);
    background-size: cover;
    width: 18vw;
    border: none;
    background-color: var(--accentblack);
    border-radius: 2.2vw;
    height: 25vw;
    transition:  all .3s ease; 
}

.mm-content{
    background-image: url(../../public/assets/photos/photo14.jpeg);
    background-size: cover;
    width: 18vw;
    border: none;
    background-color: var(--accentblack);
    border-radius: 2.2vw;
    height: 25vw;
    margin-top: 8vw;
    transition:  all .3s ease; 
}

.mr-content{
    background-image: url(../../public/assets/photos/photo13.jpeg);
    background-size: cover;
    width: 18vw;
    border: none;
    background-color: var(--accentblack);
    border-radius: 2.2vw;
    height: 25vw;
    margin-top: 8vw;
    transition:  all .3s ease; 
}

.mr-content:hover, .mm-content:hover, .mf-content:hover, .ml-content:hover {
    transform:  translateY(-1vw);
    opacity: 80%;
}

/* .main-right{
    background-color: white;
    height: 100%;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: flex-end;
   position: relative;
    height: 800px;
    margin-top: 20px;
} */

.logo{
    background:transparent;
    position: relative;
}

.content{
    padding: 20px;
    display: flex;
    margin-top: 20vw;
}

.left-content{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin-right: 50px;
    margin-top: -180px;
}

.right-content{
    margin-top: -170px;
    width: 50%;
    margin-left: 10px;
    z-index: 20;
}

.right-content_p{
    width: 90%;
}

.right-content_h2{
    margin-bottom: 10px;
    font-size: 35px;
}

.right-content_ol{
    width: 100%;
    display: flex;
    color: var(--accentblack);
    flex-direction: column;
    padding-left: 50px;
    margin: 7px;
    align-items: flex-start;
}

/* @keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
} */