:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --gray:#F9F6F7;
    --orange:#FF971D;
    --lightorange: #FFE8D6;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#F9F6F7;
    --orange-light:#FF971D;
    --lightorange-light: #FFE8D6;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#F9F6F7;
    --orange-dark:#FF971D;
    --lightorange-dark: #FFE8D6;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.content{
    gap: 1.5vw;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.main{
    width: 100%;
    color: #00278C ;
    font-family: Inter;

}

.maintop{
    background-color: var(--gray-light);
    height: 70vw;
}
