:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --gray:#f4f1f1;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.content{
    margin-top:20px ;
    gap:25px;
    background:"#F1F1F1";
    margin-bottom: 20px;
}

.main{
    width: 100%;
    color: #00278C ;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    gap: 50vw;
}

.maintop{
    background-color: var(--gray-light);
    height: 70vw;
}
