:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --beige2-light:#fedaa7;
    --lbeige:#FAEEE0;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

*{
    font-family: 'Inter';
}

.main{
    display: flex;
    background-color: var(--gray-light);
    height: 100%;
    width: 100%;
    padding-top: 1vw;
}

.sidebar{
    display: block;
    background-color: var(--gray-light);
    padding: 1vw;
    width: 15vw;
    height: 40vw;
    padding: 1vw;
}

.logo{
    display: flex;
    justify-content: center;
    border: 1px solid var(--blue-light);
    border-radius: 50%;
    align-items: center;
    width: 6vw;
    height: 6vw;
    margin: auto;
    margin-bottom: 5vw;
}

.logoimg{
    width: 4vw;
}

.sidebar h1{
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 3vw;
    text-align: center;
    margin-bottom: 1vw;
}

.mainup{
    background-color: var(--white-light);
    width: 40vw;
    height: 40vw;
    margin-bottom: 3vw;
}

.upcont{
    width: 100%;
    padding: 2vw;
    padding-left: 2vw;
}

.mainup h1{
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--accentblack-light);
    line-height: 2vw;
}

.mainup span{
    font-size: 1.8vw;
    font-weight: 600;
    color: var(--accentblack-light);
    margin-top: 3vw;
}


.mainin{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    height: 50vw;
    width: 100%vw;
}

.butt{
    background-color: var(--red-light);
    color: var(--white-light);
    padding: 0.5vw;
    border-radius: 1vw;
    text-align: center;
    margin-top: 1vw;
    width: 8vw;
    transition: all .3s ease;
}

.butt:hover{
    transform: translateY(-0.3vw);
    cursor: pointer;
}

.scanin{
    background-color: #F9CF93;
    width: 95%;
    height: 15vw;
    margin-top: 2vw;
    border-radius: 1.2vw;
}

.scanin h1{
    padding: 2vw;
    font-weight: 600;
}


/* 
.profpic{
    background-image: url(../../public/assets/anime-run.gif);
    background-size: cover;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-top: 2vw;
} */