:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;
    --green:#4ef441;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --blue2-light:#3f87de;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-light: #7ffe73;
    --grey-new: #F7f7f7;


    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
    --green-dark:#42cf35;

}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

*{
    font-family: 'Inter';
}

.main{
    display: flex;
    background-color: #f6f0e6;
    height: 100%;
    width: 100%;
    padding-top: 1vw;
    padding-left: 1vw;
}

.sidebar{
    display: block;
    background-color: var(--gray-light);
    padding: 1vw;
    width: 15vw;
    height: 40vw;
    padding: 1vw;
}

.logo{
    display: flex;
    justify-content: center;
    border: 1px solid var(--blue-light);
    border-radius: 50%;
    align-items: center;
    width: 6vw;
    height: 6vw;
    margin: auto;
    margin-bottom: 5vw;
}

.titl2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vw;
}

.titl2 span{
    align-items: center;
}

.logoimg{
    width: 5vw;
    height: 5vw;
}

.sidebar h1{
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 3vw;
    text-align: center;
    margin-bottom: 1vw;
}

.mainup{
    background-color: var(--white-light);
    border-radius: 1.2vw;
    width: 50vw;
    height: 100%;
    margin-bottom: 3vw;
    margin: auto;
    margin-bottom: 2vw;
}

.upcont{
    width: 100%;
    padding: 2vw;
    padding-left: 2vw;
}

.mainup h1{
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--accentblack-light);
    line-height: 2vw;
}

.mainup span{
    font-size: 1.8vw;
    font-weight: 600;
    color: var(--accentblack-light);
    
}

/* 
.mainin{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    height: 50vw;
    width: 100%vw;
} */

/* .butt{
    background-color: var(--red-light);
    color: var(--white-light);
    padding: 0.5vw;
    border-radius: 1vw;
    text-align: center;
    margin-top: 1vw;
    width: 8vw;
    transition: all .3s ease;
}

.butt:hover{
    transform: translateY(-0.3vw);
    cursor: pointer;
} */

.scanin{
    background-image: url(../../public/assets/signbag.jpg);
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 15vw;
    margin-top: 2vw;
    border-radius: 1.2vw;
}

.scanincont, .scanoutcont, .absencont{
    color: var(--white-light);
    padding: 2vw;
}

.scanincont h1, .scanoutcont h1, .absencont h1{
    color: var(--white-light);
    line-height: 3vw;
}

.butcli{
    width: 9vw;
    color: var(--white-light);
    text-align: center;
    margin-top: 3vw;
    font-size: 1.2vw;
    font-weight: 600;
    border: 1.5px solid var(--white-light);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.6vw;
    border-radius: 1vw;
    transition: all .3s ease;
    cursor: pointer;
}

.butcli:hover{
    transform: translateY(-0.4vw);    
    text-decoration: none;
}

.batchdown{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.scanout{
    background-image: url(../../public/assets/outbag2.jpg);
    background-size: cover;
    background-position-x: 2vw;
    width: 48%;
    height: 20vw;
    margin-top: 2vw;
    border-radius: 1.2vw;
}

.absensi{
    background-image: url(../../public/assets/outbag.jpg);
    background-size: cover;
    width: 48%;
    height: 20vw;
    margin-top: 2vw;
    border-radius: 1.2vw;
}




/* 
.profpic{
    background-image: url(../../public/assets/anime-run.gif);
    background-size: cover;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-top: 2vw;
} */

.lgroup{
    display: flex;
    gap: 1vw;
}

.logbut {
    color: var(--accentblack-light);
    width: 6vw;
    height: 4vh;
    border-radius: 2px;
    margin-top: 20px;
    background-color: var(--addgray);
    border-radius: 5px;
    transition: all .5s ease;
}

.logbut:hover {
    background-color: var(--white-light);
    color: var(--beige);
    transform: translateY(-0.3vw);  
    text-decoration: none;
}

.logbut2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--accentblack-light);
    width: 10vw;
    height: 4vh;
    border-radius: 2px;
    margin-top: 20px;
    background-color: var(--addgray);
    border-radius: 5px;
    transition: all .5s ease;
}

.logbut2:hover {
    background-color: var(--white-light);
    color: var(--beige);
    transform: translateY(-0.3vw);  
    text-decoration: none;
}