@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding:0;
  line-height: normal;
 
}
:root {
  /* fonts */
  --font-inter: 'Inter','Sans-Serif';
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-41xl: 60px;

  /* Colors */
  --white:#ffffff;
  --blue:#2e55ba; 
  --accentblack:rgb(58, 58, 58);
  --red:#FF5959;
  --addgray:#DBD0C0;
  --gray:#FAEEE0;
  --beige:#F9CF93;
  --lbeige:#FAEEE0;

  --white-light:#ffffff;
  --blue-light:#2e55ba;
  --accentblack-light:rgb(58, 58, 58);
  --red-light:#FF5959;
  --gray-light:#f4f1f1;
  --addgray-light:#e3e3e3;
  --beige-light:#F9CF93;
  --lbeige-light:#FAEEE0;

  --white-dark:#ffffff;
  --blue-dark:#2e55ba;
  --accentblack-dark:rgb(58, 58, 58);
  --red-dark:#FF5959;
  --gray-dark:#f4f1f1;
  --addgray-dark:#e3e3e3;
  --beige-light:#F9CF93;
  --lbeige-light:#FAEEE0;

  /* border radiuses */
  --br-xl: 20px;
  --br-6xl: 25px;
  --br-8xs: 5px;
}