:root{
    --white:#ffffff;
    --blue:#2e55ba; 
    --accentblack:rgb(58, 58, 58);
    --red:#FF5959;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:rgb(58, 58, 58);
    --red-light:#FF5959;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:rgb(58, 58, 58);
    --red-dark:#FF5959;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.garis{
    margin-right: 10px;
    height: 30px;
    width: 3px;
    background-color: var(--red-light);
}

.bungkus{
    display: flex;
    align-items: center;
}

.box-section{
    padding: 10px;
    border-radius: 20px;
    margin:10px 5px;
}

.paginate{
    display:flex;
    justifyContent:space-between;
}

.title_item{
    color: #00278C;
    font-size: 2vw;
    font-weight: bold;
}

.details{
    margin-top: 10px;
    color: #00278C;
    font-size: 1.3vw;
    font-weight: 600;
}

.downdown{
    margin: auto;
    margin-top: 1vw;
    display: flex;
    justify-content: right;
    width: 94%;
}

.container {
    display: flex;
  }
  
.left {
    flex: 1;
  }
  
.right {
    flex: 1;
  }

.content_event{
    margin-top: 10px;
  }

.calendar{
    margin-top: 5px;
    margin-bottom: 5px;
  }

.status{
    margin-bottom: 5px;
}